src/main/resources/jaxb/Departments.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://dataObjects.imports.generated/"
	xmlns:tns="http://dataObjects.imports.generated/">

	<xs:element name="Departments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:Department" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Department">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>